In [1]:
import pandas as pd
import numpy as np

In [2]:
cricket_list = pd.read_html('https://www.espncricinfo.com/rankings/content/page/211271.html')

In [3]:
cricket = pd.DataFrame()
for i in cricket_list:
    cricket = cricket._append(i, ignore_index =True)

In [4]:
cricket

     Pos                Team  Matches  Points  Rating
0      1               India       29    3434     118
1      2           Australia       30    3534     118
2      3             England       43    4941     115
3      4        South Africa       21    2182     104
4      5         New Zealand       26    2471      95
..   ...                 ...      ...     ...     ...
192   62      Eswatini Women        9       0       0
193   63        Serbia Women        7       0       0
194   64  Phlilippines Women        9       0       0
195   65         Ghana Women        7       0       0
196   66          Fiji Women       16       0       0

[197 rows x 5 columns]

In [5]:
cricket.Pos = np.array((np.arange(1,198)))
# or 
# cricket.Pos = range(1,198)

In [6]:
cricket

     Pos                Team  Matches  Points  Rating
0      1               India       29    3434     118
1      2           Australia       30    3534     118
2      3             England       43    4941     115
3      4        South Africa       21    2182     104
4      5         New Zealand       26    2471      95
..   ...                 ...      ...     ...     ...
192  193      Eswatini Women        9       0       0
193  194        Serbia Women        7       0       0
194  195  Phlilippines Women        9       0       0
195  196         Ghana Women        7       0       0
196  197          Fiji Women       16       0       0

[197 rows x 5 columns]